include ./mixins.jade
head
    style(type="text/css"): include ../.tmp/styles.css
    //- script(src="//code.jquery.com/jquery-2.2.4.min.js")
    //- script(src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
    script(defer="defer"): include ../.tmp/scripts.js
body
    .b-happy-hours__wrapper
        .b-happy-hours
            .b-happy-hours__title
                span Счастливые часы!  До 50% по промокоду: 
                span.e-promo-code BF2016
            .b-happy-hours__content
                .b-happy-hours__slider.js-happy-hours-slider
                    .b-happy-hours__slider-track.js-slider-track
                        +slider-item('30', '14:00:00', '14:30:00') дополнительно на аксессуары
                        +slider-item('30', '14:30:00', '15:00:00') дополнительно на аксессуары
                        +slider-item('30', '15:01:00', '15:59:00') дополнительно на аксессуары
                        +slider-item('30', '15:59:00', '16:30:00') дополнительно на аксессуары
                        +slider-item('10', '17:02:00', '17:30:00') дополнительно на аксессуары
                        +slider-item('40', '18:02:00', '18:30:00') дополнительно на аксессуары
                        +slider-item('20', '19:02:00', '19:30:00') дополнительно на аксессуары
                        +slider-item('30', '20:02:00', '20:30:00') дополнительно на аксессуары
                    button.e-arrow.e-arrow-prev.js-slider-arrow(data-direction="-1")
                    button.e-arrow.e-arrow-next.js-slider-arrow(data-direction="1")
            .b-happy-hours__info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta facilis dolores officiis ipsa
                | facere, adipisci quae, obcaecati, blanditiis deserunt, quia ratione necessitatibus! Eligendi
                | voluptates architecto quisquam asperiores, tenetur excepturi nemo! Lorem ipsum dolor sit amet, 
                | consectetur adipisicing elit. Soluta facilis dolores officiis ipsa facere, adipisci quae,
                | obcaecati, blanditiis deserunt, quia ratione necessitatibus! Eligendi voluptates architecto
                | quisquam asperiores, tenetur excepturi nemo!